# Dependencias
node_modules/

# Compilados de TypeScript
dist/
build/

# Archivos de logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Archivos de lock (opcional ignorarlos si no quieres fijar versiones)
package-lock.json
yarn.lock
pnpm-lock.yaml

# Archivos de entorno
.env

# Cobertura de tests
coverage/

# Archivos temporales del sistema
.DS_Store
Thumbs.db

# Archivos de IDEs
.vscode/
.idea/
*.swp

# Archivos de Docker
docker-compose.override.yml